In [1]:
# temperature of California for the month of July 2019
# https://www.accuweather.com/en/us/california/20619/july-weather/2121532?year=2019 
inTempMonth1inC = spark.read.format('csv').options(header='true', inferSchema='true').load('/FileStore/tables/JulyTemp.csv')
display(inTempMonth1inC)

Day,Temperature
01-Jul-19,27
02-Jul-19,32
03-Jul-19,32
04-Jul-19,31
05-Jul-19,31
06-Jul-19,32
07-Jul-19,28
08-Jul-19,25
09-Jul-19,28
10-Jul-19,29
11-Jul-19,32
12-Jul-19,31
13-Jul-19,30
14-Jul-19,33
15-Jul-19,30
16-Jul-19,33
17-Jul-19,35
18-Jul-19,33
19-Jul-19,34
20-Jul-19,35
21-Jul-19,36
22-Jul-19,35
23-Jul-19,25
24-Jul-19,27
25-Jul-19,28
26-Jul-19,28
27-Jul-19,27
28-Jul-19,21
29-Jul-19,33
30-Jul-19,33
31-Jul-19,21

In [2]:
#Converting Celsuis into Fahrenheit
outTempMonthinF = inTempMonth1inC.select(inTempMonth1inC['Day'], (inTempMonth1inC['Temperature']*9/5)+32) 
newcolnames = ['Day','Temperature in F']
for old,new in zip(outTempMonthinF.columns,newcolnames):
  outTempMonthinF=outTempMonthinF.withColumnRenamed(old,new)   
display(outTempMonthinF)

Day,Temperature in F
01-Jul-19,80.6
02-Jul-19,89.6
03-Jul-19,89.6
04-Jul-19,87.8
05-Jul-19,87.8
06-Jul-19,89.6
07-Jul-19,82.4
08-Jul-19,77.0
09-Jul-19,82.4
10-Jul-19,84.2
11-Jul-19,89.6
12-Jul-19,87.8
13-Jul-19,86.0
14-Jul-19,91.4
15-Jul-19,86.0
16-Jul-19,91.4
17-Jul-19,95.0
18-Jul-19,91.4
19-Jul-19,93.2
20-Jul-19,95.0
21-Jul-19,96.8
22-Jul-19,95.0
23-Jul-19,77.0
24-Jul-19,80.6
25-Jul-19,82.4
26-Jul-19,82.4
27-Jul-19,80.6
28-Jul-19,69.8
29-Jul-19,91.4
30-Jul-19,91.4
31-Jul-19,69.8

In [3]:
#Days with temperature greater than or equal to 30 degree Celsius
outTempHighinC = inTempMonth1inC.filter(inTempMonth1inC.Temperature >= 30) 
display(outTempHighinC)

Day,Temperature
02-Jul-19,32
03-Jul-19,32
04-Jul-19,31
05-Jul-19,31
06-Jul-19,32
11-Jul-19,32
12-Jul-19,31
13-Jul-19,30
14-Jul-19,33
15-Jul-19,30
16-Jul-19,33
17-Jul-19,35
18-Jul-19,33
19-Jul-19,34
20-Jul-19,35
21-Jul-19,36
22-Jul-19,35
29-Jul-19,33
30-Jul-19,33

In [4]:
#finding the days with temperature less than or equal to 25 degree Celsius
outTempLowinC = inTempMonth1inC.filter(inTempMonth1inC.Temperature <= 25) 
display(outTempLowinC)

Day,Temperature
08-Jul-19,25
23-Jul-19,25
28-Jul-19,21
31-Jul-19,21